{$DASHBOARD_DOMAIN} {
  encode gzip

  basicauth {
    {$DASHBOARD_BASIC_AUTH_USER} {$DASHBOARD_BASIC_AUTH_PASS_HASH}
  }

  reverse_proxy dashboard:{$DASHBOARD_PORT}

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer
  }
}
